<div class="main-contents-container">
  <div class="main-contents-container__task-wrapper">
    <div class="main-contents-container__task-wrapper__contents">
      <ul>
        <li>finish</li>
        <li>content</li>
        <li>staff</li>
        <li>start date</li>
        <li>finish date</li>
        <li>memo</li>
      </ul>
      <%= link_to "create a task", "/tasks/new", class:"left" %>
    </div>
  </div>
</div>
