<div class="container-home">
  <div class="wrapper-home">
    <div class="wrapper-home__registration-box">
      <div class="wrapper-home__registration-box__home-image">
        <%= image_tag "/assets/home_logo.JPG", size: "200x200" %>
      </div>
      <div class="wrapper-home__registration-box__about">
        <p class="waves-effect waves-light btn modal-trigger about" href="#modal1">About This Service</p>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>About This Service</h4>
            <p>This service is to help your scheduling and manage tasks for making your Live!!</p>
            <p> このサービスはライブの企画、運営、タスク管理をサポートするサービスです！</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>
      <div class="wrapper-home__registration-box__home-menu">
        <ul class="menu center">
          <a class="waves-effect waves-light btn " href="<%= new_registration_user_path %>">New User</a>
          <a class="waves-effect waves-light btn " href="<%= login_user_path %>">Login</a>
        </ul>
      </div>
    </div>
  </div>
</div>