<div class="container-home">
  <div class="wrapper-home">
    <div class="wrapper-home__registration-box">
      <div class="wrapper-home__registration-box__home-image">
        <%= image_tag "/assets/home_logo.JPG", size: "200x200" %>
      </div>
      <div class="wrapper-home__registration-box__about">

        <p class="waves-effect waves-light btn modal-trigger about" href="#modal1">About This Service</p>
<%# modal %>　
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>Work Life Balance</h4>
            <h5>イベント企画者特化型のタスク管理アプリ</h5>
            <p>This service is to help your scheduling and manage tasks for making your Live!!</p>
            <p> このサイトはライブの企画、運営、タスク管理をサポートします！</p>
            <p>詳しい使い方は
              <%=link_to "こちら", "https://github.com/Shogo-Sakai/livetasks/blob/master/README.md", target: :_blank%>
              を参照ください。</p>
            <p>◆testuser acount◆</p>
            <p>email：test@user</p>
            <p>password:testuser</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>
      </div>

      <div class="wrapper-home__registration-box__home-menu">
        <ul class="menu center">
          <a class="waves-effect waves-light btn " href="<%= new_registration_user_path %>">New User</a>
          <a class="waves-effect waves-light btn " href="<%= login_user_path %>">Login</a>
        </ul>
      </div>
      
    </div>
  </div>
</div>