<div class="container-home">
  <div class="wrapper-home">
    <div class="wrapper-home__registration-box">
      <div class="wrapper-home__registration-box__home-image">
        <%= image_tag "/assets/home_logo.JPG", size: "100x100" %>
      </div>
      <div class="wrapper-home__registration-box__home-menu">
        <p class="waves-effect waves-light btn modal-trigger" href="#modal1">About</p>
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>New User Registration</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
        <ul class="menu center">
          <a class="waves-effect waves-light btn modal-trigger" href="">New User</a>
          <a class="waves-effect waves-light btn modal-trigger" href="">Login</a>
        </ul>
      </div>
    </div>
  </div>
</div>