<div class="main-contents-container valign-wrapper">
  <div class="main-contents-container__task-wrapper z-depth-3">
    <div class="main-contents-container__task-wrapper__contents">
      <div id="calendar"></div>
    </div>
  </div>
</div>
