<p class="notice-bord__title">
※アプリケーションの使い方※
</p>
<p class="notice-bord__contents left-align">
  <% notice_contents = "
  1.ライブを登録します。
  2.タスクを作成します。
  3.各スタッフに割り当てられたタスクを管理します。
  4.カレンダーで進捗を確認します。
  基本的な使い方は以上です。
  このサービスを使用することで
  ライブ当日までのタスクを
  容易に管理することができます！
  "%>
<%= simple_format(notice_contents) %>
</p>
