<%= render "lives/header" %>
<div class="row contents">
  <%= render 'lives/sidenav', class:"col s1" %>
  <div class="main-contents-new ">
      <div class="main-contents-new__input">
        <div class="main-contents-new__input__box notice-bord">
          <%= render "lives/notice_contents"%>
        </div>
      </div>
    </div>
  </div> 
</div>