  <%# <nav> <!-- navbar content here  --> </nav> %>
<div class="header">
  <div class="header__container">
    
  </div>
</div>
<div class="row contents">
  <%= render 'lives/sidenav', user: @user, class:"col s1" %>
  <div class="main-contents col11 ">
  </div> 
</div>