// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-home{
  background: image-url("home_logo.JPG");
  height: 100vh;
  width: 100vw;
  background-size: contain;
  .wrapper-home{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(5, 150, 83, 0.55);
    &__registration-box{
      width: 300px;
      height: 400px;
      background-color: rgba(255, 255, 255, 0.803);
      border-radius: 30px;
      position:relative;
      &__home-image{
        position:absolute;
        top:20%;
        left:100px;
      }
      &__home-menu{
        position:absolute;
        top:65%;
        display:flex;
        justify-content: center;
        width:300px;
        margin: 0 auto;
      .menu{
          list-style: none;
          a{
            margin:10px
          }
        }
      }
    }
  }
}