// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sidenav
.background{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
  }
}

.sidenavbar{
  width:30px;
  height:100vh;
  background-color: rgb(255, 182, 47);
  position: fixed;
  top:0;
  left:0;
  float:left;
  .rotate{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.5rem;
    transform: rotate(270deg)
  }
}

// index
.header{
  width: 100vw;
  height:200px;
  background-color: green;
  position:absolute;
  top:0;
  left:0;
  &__container{
    display:flex;
    justify-content: center;
    align-items: center;
    &__user-info{
      height:200px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
      &__profile{
        color:white;
        font-size: 2rem;
      }
    }
    &__task-info{
      width:100%;
      height:200px;
      display:flex;
      justify-content: center;
      align-items: center;
      &__box{
        width:90%;
        height:90%;
        padding:15px;
        border-radius: 30px;
        background-color: white;
        overflow: auto;
        &__tasks{
          text-align: left;
          .livetitle{
            list-style: none;
            font-size: 1.5rem;
          }
        }
      }
    }
    &__function{
      width:100%;
      height:200px;
      display:flex;
      justify-content: center;
      align-items: center;
      &__menu{
        &__list{
          li{
            a{
              text-decoration: none;
              color:white;
              font-size: 2rem;    
            }
          }
        }
      }
    }
  }
}