// Place all the styles related to the lives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sidenav
.background{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenavbar{
  width:30px;
  height:100vh;
  background-color: rgb(255, 182, 47);
  position: fixed;
  top:0;
  left:0;
  float:left;
  .rotate{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 1.5rem;
    transform: rotate(270deg)
  }
}

// header
.header{
  width: 100vw;
  height:200px;
  background-color: green;
  position:fixed;
  top:0;
  left:0;
  &__container{
    display:flex;
    justify-content: center;
    align-items: center;
    &__user-info{
      height:200px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      align-content: center;
      &__profile{
        color:white;
        font-size: 2rem;
      }
    }
    &__task-info{
      width:100%;
      height:200px;
      display:flex;
      justify-content: center;
      align-items: center;
      &__box{
        width:90%;
        height:90%;
        padding:15px;
        border-radius: 30px;
        background-color: white;
        overflow: auto;
        &__tasks{
          text-align: left;
          .livetitle{
            list-style: none;
            font-size: 1.5rem;
          }
        }
      }
    }
    &__function{
      width:100%;
      height:200px;
      display:flex;
      justify-content: center;
      align-items: center;
      &__menu{
        &__list{
          li{display: block;
            a{
              text-decoration: none;
              color:white;
              font-size: 2rem;    
            }
          }
        }
      }
    }
  }
}

// index
.row.contents{
  margin:0;
  .main-contents{
    width: calc(100% - 30px);
    height: calc(100vh - 200px);
    position: fixed;
    top: 200px;
    left: 30px;
    padding:0;
    .row{
      .col{
        padding:0;
      }
    }
  }
}

// new
.main-contents-new{
  width: calc(100% - 30px);
  height: calc(100vh - 200px);
  position: absolute;
  top: 200px;
  left: 30px;
  padding:0;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__input{
    width: 70%;
    max-width: 700px;
    height: 80%;
    border-radius: 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    &__box{
      height:100%;
      width:80%;
      padding:15px;
      .title{
        font-size: 2rem;
      }
    }
  }  
}
#search-result{
  max-height:100px;
  overflow: auto;
  #user-search-result{
    padding:3px 15px;
  }
}

.live-staff{
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgba(128, 128, 128, 0.666);
  &__name{
    padding:5px;
    margin:10px;
  }
}


// 検索結果のボーダー
.box-border{
  border-radius: 10px;
  border:1px solid rgba(128, 128, 128, 0.6);
};


// show
.tabs{
  position:fixed;
  top:0;
  left:0;
}

.tab-contents{
  width:100%;
  height:100%;
}

// タブ内
// concept
.main-contents-container{
  width: calc(100% - 30px);
  height: calc(100vh - 200px - 48px);
  margin:0;
  overflow:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box{
    width:80%;
    height:80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding:15px;
    &__wrapper{
      width:100%;
      height: 100%;
      overflow: auto;
      .content-title{
        font-size: 2rem;
        margin-top:20px;
      }
      &__edit{
        margin:30px;
        display:flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}

// staff
.main-contents-container{
  &__staff{
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
   .staff-cards{
     .card{
       box-sizing: border-box;
       width:300px;
       margin:15px 30px;
       padding:15px;
       border-radius: 30px;
       &__content{
         padding:15px;
         height:100px;
         overflow: auto;
       }
     }
   } 
  }
}

.checkbox-row{
  display:flex;             
}
