// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.container-user{
  height:100vh;
  width:100vw;
  display:flex;
  align-content: center;  
  &__box{
    background-color:rgb(255, 255, 255);
    width:400px;
    height:400px;
    padding:15px;
    margin:auto;
    border:1px solid gray;
    overflow: auto;
    border-radius: 30px;
    caption{
      font-size: 1.5rem;
    }
    th,td{
      text-align: center;
    }
    th{
      width:50%;
    }
  }
}

// show

.container-show{
  height:100vh;
  width:100vw;
  &__user-card{
    .cards{
      display: flex;
      justify-content: center;
      align-content: center;        
      .card{
        margin-top :100px;
        background-color: white;
        width:400px;
        height:400px;
        text-align: left;
        // overflow:auto;
        .card-content{
          border-top: 1px solid gray;
          background-color: white;
        }
      }
    }
  }
}

// signup

.container-input-user{
  height:100vh;
  width:100vw;
  margin:0;
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  overflow: auto;
  &__box{
    // box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height:80%;
    min-height:155px;
    padding:15px 0 ;
    border-radius: 30px;
    background-color: white;
    overflow: auto;
    .inputs{
      width:90%;
      height:100%;
    }
    .registration-title{
      font-size: 2rem;
    }
    .row{
      margin:0;
    }
    .age-label{
      margin-left: 15px;
      span{
        margin:0;
        padding:0;
      }
    }
    .gender{
      .gender-male{
        margin-right:20px;
      }
    }
    .submit-button{
      margin-bottom:20px;
    }
  }
}