<% if model.errors.any? %>
  <div class="alert alert-warning">
    <ul>
        <li class="error-count-message red-text">
          There are some errors bellow.
        </li>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>